{
  "comments": false,
  "compact": false,
  "env": {
    "node": {
      "plugins": [
        ["@babel/plugin-transform-runtime", {
          "corejs": 2
        }]
      ],
      "presets": [
        ["@babel/env", {
          "targets": {"node": "8.11.3"}
        }]
      ]
    }
  }
}
